body{
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;
    font: normal 18px Arial, Helvetica, sans-serif;
    text-align: center;
}


#main-header{
    width: 100%;
    text-align: center;
    background-color: lightblue;
    padding: 1%;
    color: black;
}

#main-header h6{
    padding: 0;
    margin: 1%;
   
}

#main-header li{
    color: purple;
    list-style-type: none;
    display: inline-block;

}

#about-section{
    margin-top: 2%;
    width: 50%;
    display: inline-block;
    text-align: center;
   
}

#about-section h2{
    color: blue;
    padding: 0;
    margin: 0;
}

#financials{
    text-align: center;
    width: 100%;
}


#financials img{
    padding: 1%;
    float: left;
    width: 30%;
}

#companies ul{
    list-style-type: none;
    
    padding-top: 30%;
}

.button{
   color: red;
   position: static;
   display: inline-block;
}

.button:hover{
    color: blue;
}

header{
    padding: 1%;
    background-color: lightblue;
    color: blue;
}

#contact-info h2{
    color: darkgreen;
    margin-bottom: 0%;
    padding-bottom: 0%;
}





form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }