body{
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;
    font: normal 18px Arial, Helvetica, sans-serif;
}


#main-header{
    width: 100%;
    text-align: center;
    background-color: lightblue;
    padding: 1%;
}

#main-header h6{
    padding: 0;
    margin: 1%;
   
}

#main-header li{
    color: purple;
    list-style-type: none;
    display: inline-block;

}

#about-section{
    margin-top: 2%;
    width: 50%;
    display: inline-block;
    text-align: center;
    padding-left: 26%;
}

#about-section h2{
    color: blue;
    padding: 0;
    margin: 0;
}

#financials{
    text-align: center;
    width: 100%;
}


#financials img{
    padding: 1%;
    float: left;
    width: 30%;
}

#companies ul{
    list-style-type: none;
    width: 100%;
    padding-top: 30%;
}

.button{
   color: red;
   position: static;
   padding-left: 45%;
}